body {
	font-family: 'Arvo', serif;
}

.jumbotron {
	background-color: #FF7973;
	font-family: 'Arvo', serif;
	color: #fff;
	border-bottom: solid 5px black;
}

ol,
h3 {
	color: black;
	font-weight: bold;
	font-family: 'Arvo', serif;
}

#button {
	background-color: black;
	border-color: black;
	font-family: 'Arvo', serif;
}

#footer {
	background-color: #FF7973;
	font-family: 'Arvo', serif;
	color: #fff;
	border-top: solid 5px black;
	text-align: center;
	padding-top: 5px;
}
#userInput{
	width: 50px;
	height: 50px;
	text-align: center;
	border: solid 5px black;
	padding: 1px;
}

.hangmanDiv {
	float: left;
	width: 10px;
	height: 10px;
	padding: 5%;
	margin: 2%;
	margin-bottom: 10%;
	border: solid 5px black;
	font-family: 'Arvo', serif;
}

/*#div1 {
	margin-left: 25%;
}*/


#hangmanStats,
#wordEntryBox {
	border: solid 5px black;
	text-align: center;
}

#hangmanPic {
	position: relative;
	border: none;
	margin-left: 5%;
	z-index: 0;
}

#hangmanHead,
#hangmanBody,
#hangmanArm1,
#hangmanArm2,
#hangmanLeg1,
#hangmanLeg2 {
	position: absolute;
}

#hangmanHead {
	/*position: absolute;*/
	bottom: 270px;
	z-index: 1;
}

#hangmanBody {
	/*position: relative;*/
	bottom: 130px;
	/*right: 2px;*/
	z-index: 2;
}

#hangmanArm1 {
	bottom: 250px;
	left: 20px;
	z-index: 3;
}

#hangmanArm2 {
	bottom: 250px;
	z-index: 4;
}

#hangmanLeg1 {
	bottom: 150px;
	z-index: 5;
}

#hangmanLeg1 {
	bottom: 150px;
	z-index: 6;
}